h1{
 	color: red ;
 	font-variant:small-caps;  
 	letter-spacing: 1px;
 }
 h2{color:red;
 	font-weight: lighter;
 	border: dashed; /*c pour les bords*/
 	border-color: red;
 }
body{background-color: rgb(255,255,255);
	font-family:sans-serif;
	font-family: arial;
	font-size: 19;
	line-height: 20px;
	text-align: center;
	border: dotted;
	border-width: 3px;
	margin-top: 50px 
	margin-right: 50px 
	margin-bottom:50px 
	margin-left:50px;
	padding: 50px 200px;}
a {color: blue;
	text-decoration: none;}
a:hover{color: red}
div{
	margin: 10px 50px;
	padding: 10px;
	border-radius: 20px;
	box-shadow: 10px 10px 20px ;
	}
iframe{border-radius: 20px}
.blue{color: blue;}